<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/javascript/script.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>
  <body>
    <div class="header">Patient Platypus<sup class="copyright">&copy;</sup></div>

    <div class="login-box">
	    <div class="text">
	    	<span class="space">Username: </span><input type="text" id="username" value="Username" class="input"/>
	    	<span class="space">Password: &nbsp;</span><input type="password" id="password" value="Password" class="input"/>
			<select id="selector" class="input">
		  		<option selected="selected" disabled value="null">Choose Account Type</option>
		  		<option value="Patient">Patient</option>
		  		<option value="Doctor">Doctor</option>
			</select>
			<input type="submit" id="submit" value="Submit" class="submit-btn"/>
		</div>
		<div class="text">
		<p>
		At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
		</p>
		</div>
	</div>
  </body>
</html>
