<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" href='/javascript/script.js'></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    Jesse Has Modified this file again.
    something funny


    <div class="login-box">
    	Username: <input type="text" id="username" value="Username" /><br>
    	Password: <input type="password" id="password" value="Password" /><br>
		<select id="selector">
	  		<option selected disabled>Choose Account Type</option>
	  		<option value="Patient">Patient</option>
	  		<option value="Doctor">Doctor</option>
		</select><br>
		<input type="submit" id="submit" value="Submit" class="submit-btn"/>
	</div>
  </body>
</html>
