<!DOCTYPE html>
<html ng-app="patientApp">
  <head>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.js"></script>
    <script src="/javascript/patient-app.js"></script>
  </head>
  <body ng-view>
  </body>
</html>
