body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #36b6b6;
  background-image: url("../../views/lake.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: #00B7FF;
}

.copyright {
	font-size: 12px;
}

.text {
	display: inline-block;
	width: 45%;
}

.login-box {
	padding: 10px;
	background-color: #028686;
	opacity: 0.9;
	border: solid 4px #02869a;
	width: 60%;
	margin-left: 20%;
}

.submit-btn {
	background-color: #19a2a2;
	color: black;
	border: solid black 2px;
	width: 162px;
}
.submit-btn:hover {
	background-color: #5acccc;
}

.input {
	margin-bottom: 10px;
	width: 150px;
}

.input, .submit-btn {
	display: block;
	padding: 5px;
}

.space {
	width: 100px;
}

.header {
	text-align: center;
	font-size: 69px;
	font-weight: bold;
	color: #19A2A2;
	letter-spacing: 5px;
	margin-bottom: 50px;
	text-shadow: 2px 0 0 #028686, -2px 0 0 #028686, 0 2px 0 #028686, 0 -2px 0 #028686, 1px 1px #028686, -1px -1px 0 #028686, 1px -1px 0 #028686, -1px 1px 0 #028686;
}

#selector {
	width: 162px;
}
.left {
	margin-right: 10%;
	width: 30%;
}

@media (max-width: 1000px) {
	body {
		padding: 2px;
		background-image: none;
	}
	.text {
		width: 100%;
	}
	.left {
		margin-right: 0;
		width: 100%;
	}
	.header {
		font-size: 20px;
	}
	#selector {
		width: 90%;
	}
	.input, .submit-btn {
		width: 85%;
		margin-left: 5%;
	}
	.submit-btn {
		padding: 10px;
	}
	.login-box {
		opacity: 1;
		width: 80%;
		margin-left: 5%;
	}
}